<h1>Envie sua Mensagem</h1>

<form action="/enviarMensagem" method="POST">
    <input type="text" name="messageBody" />
    <button type="submit">Enviar Mensagem</button>
</form>



<h1>Dados de usuário recuperados</h1>

 {{ firstNameV }} <br>
 {{ lastNameV }} <br>
 {{ passwordV }} <br>
 {{ emailV }} <br>
 {{ messagesV }} <br>
